/* Atkinson Hyperlegible Normal */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-Regular-102.eot');
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-Regular-102.eot') format('embedded-opentype'),
				url('/assets/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
				url('/assets/fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
				url('/assets/fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-Italic-102.eot');
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-Italic-102.eot') format('embedded-opentype'),
				url('/assets/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
				url('/assets/fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
				url('/assets/fonts/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

/* Atkinson Hyperlegible Bold */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-Bold-102.eot');
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-Bold-102.eot') format('embedded-opentype'),
				url('/assets/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
				url('/assets/fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
				url('/assets/fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Hyperlegible';
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.eot');
	src: 	url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.eot') format('embedded-opentype'),
				url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
				url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
				url('/assets/fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}