:root {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

html,
body {
  font-size: 1em;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2)
}

h4 {
  font-size: var(--step-1);
}